#wa-dashboard {
  margin: 5px;

  .time-period-container {
    border-bottom: 1px solid black;
    width: 100%;
    
    h1 {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 3px;
    }

    table {
      width: 100%;
      tr {
        width: 100%;

        td.app-name {

        }

        td.app-total {
          align: right;
        }

        td.period-title {
          font-weight: bold; 
        }

        td.period-total {
          font-weight: bold; 
          align: right;
        }

      }
    }

  }
}

