.time-period-container
  h1 {{ title }}
  table
    tr(ng-repeat='appResult in bundle.apps')
      td.app-name {{ appResult.appName}} ({{ appResult.count }})
      td.app-total(align="right") {{ appResult.total | currency }}
    tr
      td.period-title {{ title }} total:
      td.period-total(align="right") {{ bundle.aggregate.total | currency  }}
