<div id="wa-dashboard" ng-app="" ng-csp="" ng-controller="WalletAggregatorCtrl">
  <div class="date-container" ng-repeat="bundle in dashboardData">
    <div class="date">{{bundle.date}}</div>
    <div class="break-down-container" ng-repeat="item in bundle.details">
      <div class="name-of-app">{{item.nameOfApp}} <span class="transaction-count">({{ item.transactions.length }})</span></div>
      
      <div class="app-total">App total: {{ item.total | currency }}</div>
    </div>
    <div class="day-total">Day total: {{ bundle.total | currency  }}</div>
  </div>
</div>
